.hero-center-text{
    padding: 0.5rem ;
}
.hero-subtext{
    padding-top: 2rem;
}
.tech-founders{
    background-color: #3353bc;
    padding: 0.2rem 0.5rem;
}
.general-partners{
    background-color: #F9E384;
    padding: 0.2rem 0.5rem;
}