@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* Hide default cursor */
html, body, * {
  font-family: 'montserrat', sans-serif;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%2350FFB1" stroke="%2350FFB1" stroke-width="1.25" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #0A0A0A;
  color: white;
  font-family: 'montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

/* Text selection color */
::selection {
  background: rgba(83, 89, 221, 0.3);
  color: white;
}

/* Custom class for gradient text */
.text-gradient-violet {
  background: linear-gradient(90deg, #5359DD 0%, #1E1E50 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Prevent image dragging */
img {
  user-drag: none;
  -webkit-user-drag: none;
}